[catalog-item-price] {
  display: inline-block;
}

.bin-catalog {
  overflow: hidden;
  padding-bottom: 10px;

  .alert-unavailable {
    margin: 50px 0;
  }

  .bin-catalog-items {
    overflow: hidden;

    .bin-catalog-item {
      .item-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0,0.02);
        display: block;
        float: left;
        height: 80px;
      }

      .item-title {
        font-size: 16px;
      }

      .item-price {
        margin-bottom: 0;
      }
    }
  }

  .bin-catalog-item {
    .item-title {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .item-lead {
      font-size: 12px;
    }

    .item-image {
      text-align: center;

      img {
        max-height: 250px;
      }
    }

    .item-price {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      &.text-muted {
        font-weight: normal;
      }
    }

    .item-body {
      font-size: 14px;
      line-height: 22px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 767px) {
    .bin-catalog-items {
      .bin-catalog-item {
        .item-image {
          width: 100px;
        }

        .caption {
          margin-left: 100px + 4px;

          .item-title {
            margin-top: 0;
          }
        }
      }
    }

    .btn-search-more {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 50px;

    .bin-catalog-items {
      .bin-catalog-item {
        .item-image {
          height: 100px;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    .bin-catalog-item {
      .item-body {
        margin-top: 0;
      }
    }

    .bin-catalog-group {
      .group-title {
        margin-top: 0;
      }
    }
  }

  @media (min-width: 992px) {
    .bin-catalog-items {
      .bin-catalog-item {
        .item-image {
          height: 120px;
        }
      }
    }
  }
}


.bin-action-visual, .bin-status-visual {
  text-align: center;
  background: #f3f3f3;
  color: #c0c0c0;
}

.bin-action-visual {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  i {
    font-size: 60px;
    vertical-align: middle;
    text-shadow: 2px 2px #b1b1b1;
  }
}

.bin-status-visual {
  height: 250px;
  width: 250px;
  line-height: 250px;
  border-radius: 50%;
  margin: 50px auto;

  i {
    font-size: 100px;
    vertical-align: middle;
    text-shadow: 2px 2px #b1b1b1;
  }
}

.bin-status-visual-title {
  color: #c0c0c0;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}